<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <div class="site_title">
      <span>Sanctions Workflow</span>
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_info">
      <span style="font-size:17px;">Welcome,</span>
      <h2 style="font-size:24px;">John Doe</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a routerLink="home"><i class="fa fa-home"></i> Home </a>
        </li>
        <li><a><i class="fa fa-desktop"></i> Work Queue </a>
          <ul class="nav child_menu">
            <li><a routerLink="my-workqueue" >My Workqueue</a></li>
            <li><a routerLink="my-team-workqueue" >My team workqueue</a></li>
          </ul>
        <li><a routerLink="amendment"><i class="fa fa-home"></i> Amendment </a>
        </li>
        <li><a><i class="fa fa-edit"></i>Sanction Forms <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a routerLink="standard-sanction" >Standard Sanction</a></li>
            <li><a routerLink="iran-sanction">Iran Sanction</a></li>
            <li><a routerLink="controlled-goods">Controlled goods</a></li>
            <li><a routerLink="consultancy-services">Consultancy</a></li>
            <li><a routerLink="payments">Payments</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-bar-chart-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="chartjs.html">Report A</a></li>
            <li><a href="chartjs2.html">Report B</a></li>
            <li><a href="morisjs.html">Report C</a></li>
            <li><a href="echarts.html">Report D</a></li>
            <li><a href="other_charts.html">Other Charts</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-user"></i>Admin <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="fixed_sidebar.html">Country Information</a></li>
            <li><a href="fixed_footer.html">Currency Information</a></li>
            <li><a href="fixed_footer.html">Insurance/Reinsurance type</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->


</div>