<div class="page-title">
  <div class="title_left">
    <h1 style="font-size:36px;">Contact Us</h1>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="contact-details">
              <img src="../../../../../assets/images/user-profile.png" />
              <div>Prafull Bansod</div>
              <div>SME</div>
              <div>prafull.bansod@willistowerswatson.com</div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="contact-details">
              <img src="../../../../../assets/images/user-profile.png" />
              <div>Rahul</div>
              <div>SME</div>
              <div>rahul.jagdav@willistowerswatson.com</div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="contact-details">
              <img src="../../../../../assets/images/user-profile.png" />
              <div>Avinash</div>
              <div>SME</div>
              <div>avinash.yadav@willistowerswatson.com</div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:25px;">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <span>For technical queries, please contact <a [href]="'mailto:'+serviceDeskUrl" (click)="logContactUs(true)">WTW
                Servicedesk.</a></span><br>
            <span>For queries regarding the content of Sanctions Workflow, please contact <a [href]="'mailto:'+contactsUsUrl"
                (click)="logContactUs(false)">Sanctions Workflow SME. </a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>