<div class="page-title">
  <div class="title_left">
    <h1 style="font-size:36px;">Welcome to Sanctions Workflow</h1>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>About Sanctions Workflow</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p>
          There are 4 main work stream involved smart territory; broad/mulitple territory; controlled goods territory;
          payment process and respective forms from each area will be processed in this sanctions workflow online
          application. This will undergo a process flow involving submission(business/operation team),
          approvals(sacntions/bespoke team), auto aprroval for SMART sanctions(automated system process), maintenace of
          audit log information, management of master information(admin team) and generation of management information
          reports.
        </p>
        <p>
          This online application will be used globally by 26+ counries with provision for multi-language capability.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Latest Announcements</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p></p>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Sanctioned Countries for the UN, EU and US combined.</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table">
          <thead>SMART sanctioned territory</thead>
          <tbody>
            <tr>
              <td>Afghanistan</td>
              <td>Belarus</td>
              <td>Burundi</td>
              <td>Central African Republic</td>
              <td>Democratic Republic of Congo</td>
            </tr>
            <tr>
              <td>Egypt</td>
              <td>Eritrea</td>
              <td>Iraq</td>
              <td>Lebanon</td>
              <td>Libya</td>
            </tr>
            <tr>
              <td>Myanmar/Burma</td>
              <td>Republic of Guinea Bissau</td>
              <td>Republic of Guinea</td>
              <td>Serbia</td>
              <td>Somalia</td>
            </tr>
            <tr>
              <td>South Sudan</td>
              <td>Tunisia</td>
              <td>Yemen</td>
              <td>Zimbabwe</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>Broad sanctioned territory</thead>
          <tbody>
            <tr>
              <td>Cuba</td>
              <td>Iran</td>
              <td>North Korea</td>
              <td>Sudan</td>
              <td>Syria</td>
            </tr>
            <tr>
              <td>Russian Federation</td>
              <td>Ukraine(Inc. Crimea)</td>
              <td>Venezuela</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>